@model IEnumerable<Upload_RetrieveImageMVC_5.Models.Student_tbl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-hover table-responsive">
    <tr>
        <th >@Html.DisplayNameFor(model=>model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Standard)</th>
        <th>@Html.DisplayNameFor(model => model.Image_Path)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem=>item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.Standard)
        </td>
        <td>
            <img src="@Url.Content(item.Image_Path)" height="100" width="100"/>
        </td>
        
    </tr>
}

</table>
